{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('eventListing') }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/b-2.2.3/sl-1.4.0/datatables.min.css"/>

{% endblock %}

{% block javascripts %}
    <script>
        const data = {{ bookings|raw }};
    </script>

    {{ encore_entry_script_tags('eventListing') }}
{% endblock %}

{% block body %}
    <h1>Booking index</h1>

    <table id="custom-datatable"></table>

    <a href="{{ path('app_booking_new') }}">Create new</a>
{% endblock %}

