@import "../argon/scss/argon-dashboard";
@import "_variables.scss";

body{
  background: $bg_dark;
}

body, h1, h2, a, hr {
  color: $white;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

li {
  list-style-type: none;
  margin-left: -25px;
}

.info {
  border: 2px solid $secondary_color;
  border-radius: 8px;
}

a:hover {
  font-weight: bold;
  color: $blue_pale_color;
}

.footer {
  border-top: 1px solid $grey_pale_color;
}