{% extends 'base.html.twig' %}

{% block title %}Kotopo - Modification de mot de passe{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modification de mot de passe</h1>
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {{ form(form) }}

    </div>
{% endblock %}
