{% extends 'base.html.twig' %}

{% block title %}Kotopo - Profil utilisateur{% endblock %}

{% block body %}

<div class="container col-md-5">
    <h1>Mon profil</h1>
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning mt-4">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(form) }}

</div>
{% endblock %}
