<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ asset('build/img/logo.png') }}">
    <title>
        Kotopo
    </title>

    <style>
        body, html{
            margin: 0;
            background-color: #0E0028;
        }

        h1, h2, li, a {
            text-align: center;
        }

        p, h1, h2, li, a, hr{
            color: #FFFEFF;
        }
        a {
            text-decoration: none;

        }
        p, a, li {
            font-size: 10px;
        }
        h2 {
            font-size: 14px;
        }
        li {
            list-style: none;
            margin-left: -3em;
        }
        hr {
            width: 50%;
        }
        .bold {
            font-weight: bold;
        }
        .description {
            margin-top: -1em;
        }
        .price_align{
            text-align: right;
        }
        .td_align {
            vertical-align:top;
        }
        table{
            width: 80%;
            margin: auto;
        }

        table tr td {
            /*width: 350px;*/
            height: auto;
        }
        .footer {
            text-align: center;
        }
    </style>

</head>
<body>
{#<div style="width: 80%; margin: auto; display: flex">#}
{#    <img style="width: 100px; height: 100px" src="{{ asset('build/img/logo.png') }}" alt="logo de l'association">#}
    <h1  style="color:white; flex-grow: 2; ">Carte des boissons</h1>
{#</div>#}

<div  style="width: 50%; margin: auto">
    <table>
        <thead>
        <tr>
            <th colspan="2"><h2>Alcool</h2> </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><p class="bold">AU TEMPS POUR MOI</p><p class="description">Bière blanche</p></td>
            <td class="td_align"><p class="bold price_align">4,50€</p></td>
        </tr>
        <tr >
            <td ><p class="bold">L'AIR DU TEMPS</p><p class="description">Bière ambrée</p></td>
            <td class="td_align"><p class="bold price_align">4,50€</p></td>
        </tr>
        <tr >
            <td ><p class="bold">LA NUIT DES TEMPS</p><p class="description">Bière brune</p></td>
            <td class="td_align"><p class="bold price_align">4,50€</p></td>
        </tr>
        <tr >
            <td ><p class="bold">AU FILS DU TEMPS</p><p class="description">Bière blonde</p></td>
            <td class="td_align"><p class="bold price_align">4,50€</p></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <table>
        <thead>
        <tr>
            <th colspan="2"><h2>Softs</h2> </th>
        </tr>
        </thead>
        <tbody>
        <tr >
            <td ><p class="bold">COCA COLA</p></td>
            <td class="td_align"><p class="bold price_align">3,00€</p></td>
        </tr>
        <tr >
            <td ><p class="bold">COCA COLA ZERO</p></td>
            <td class="td_align"><p class="bold price_align">3,00€</p></td>
        </tr>
        <tr >
            <td ><p class="bold">PERRIER</p></td>
            <td class="td_align"><p class="bold price_align">2,50€</p></td>
        </tr>
        <tr >
            <td ><p class="bold">COCA COLA</p></td>
            <td class="td_align"><p class="bold price_align">3,00€</p></td>
        </tr>
        <tr >
            <td ><p class="bold">SIROPS</p><p class="description">Grenadine, menthe, citron, cassis, pêche</p></td>
            <td class="td_align"><p class="bold price_align">2,50€</p></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <table>
        <thead>
        <tr>
            <th colspan="2"><h2>Boissons chaudes</h2></th>
        </tr>
        </thead>
        <tbody>
        <tr >
            <td ><p class="bold">COMPOSITION DU CIEL</p><p class="description">Bière blanche</p></td>
            <td class="td_align"><p class="bold price_align">3,00€</p></td>
        </tr>
        <tr >
            <td ><p class="bold">MENTHE</p><p class="description">Thé vert parfumé</p></td>
            <td class="td_align"><p class="bold price_align">3,00€</p></td>
        </tr>
        <tr >
            <td ><p class="bold">NURELIA</p><p class="description">Thé noir</p></td>
            <td class="td_align"><p class="bold price_align">3,00€</p></td>
        </tr>
        <tr >
            <td ><p class="bold">CHOCOLAT</p></td>
            <td class="td_align"><p class="bold price_align">4,50€</p></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="footer">
    <hr style="width: 120%; border-top: none">
    {% include 'partials/footer.html.twig' %}
</div>
</body>
