{% extends 'base.html.twig' %}

{% block title %}Hello LanguagesController!{% endblock %}

{% block body %}



<div class="example-wrapper">
    <h1>Nos cours de langues hebdomadaires</h1>

    <p class="text-center">Durée des séances : 1h30</p>

    <div class="container">
        <div class="row">
            <div class="card text-center my-3 col-sm m-sm-5">
                  <div class="card-title font-weight-bold">Allemand</div>
                    <div class="card-body">
                        <p class="card-text font-weight-bold">Niveau : A1 </p>
                        <p class="card-text">Jours : Mardi </p>
                        <p class="card-text">Horaire : 20h </p>
                        <hr>
                        <p class="card-text font-weight-bold">Niveau : A2 </p>
                        <p class="card-text">Jours : Mardi </p>
                        <p class="card-text">Horaire : 18h30 </p>
                    </div>
            </div>
            <div class="card text-center my-3 col-sm m-sm-5">
                <div class="card-title font-weight-bold">Anglais</div>
                <div class="card-body">
                    <p class="card-text font-weight-bold">Niveau : B1 </p>
                    <p class="card-text">Jours : Lundi </p>
                    <p class="card-text">Horaire : 18h30 </p>
                    <hr>
                    <p class="card-text font-weight-bold">Niveau : B2 </p>
                    <p class="card-text">Jours : Jeudi </p>
                    <p class="card-text">Horaire : 18h30 </p>
                </div>
            </div>
            <div class="card text-center my-3 col-sm m-sm-5">
                <img class="card-img-top mt-3 mx-auto" src="{{ asset('build/img/activity/meeting.png') }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Rencontre linguistique</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card text-center my-3 col-sm m-sm-5">
                <img class="card-img-top mt-3 mx-auto" src="{{ asset('build/img/activity/bar.png') }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Bar</p>
                </div>
            </div>
            <div class="card text-center my-3 col-sm m-sm-5">
                <img class="card-img-top mt-3 mx-auto" src="{{ asset('build/img/activity/calligraphy.png') }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Atelier calligraphie</p>
                </div>
            </div>
            <div class="card text-center my-3 col-sm m-sm-5">
                <img class="card-img-top mt-3 mx-auto" src="{{ asset('build/img/activity/d20.png') }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Ludothèque</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
