{% extends 'base.html.twig' %}

{% block title %}Hello LanguagesController!{% endblock %}

{% block body %}



<div class="example-wrapper">
    <h1>Nos cours de langues hebdomadaires</h1>

    <p class="text-center">Durée des séances : 1h30</p>

    <div class="container d-flex row">
        {% for language in languages %}
            <div class="card text-center  my-3 col-md m-md-1">
                  <div class="card-title font-weight-bold ">{{ language.name| upper }}</div>
                    <div class="card-body">
                        <p class="card-text font-weight-bold">Niveau : A1 </p>
                        <p class="card-text">Jours : Mardi </p>
                        <p class="card-text">Horaire : 20h </p>
                        <hr>
                        <p class="card-text font-weight-bold">Niveau : A2 </p>
                        <p class="card-text">Jours : Mardi </p>
                        <p class="card-text">Horaire : 18h30 </p>
                    </div>
            </div>
        {% endfor %}
{#
        <div class="row">
            <div class="card text-center my-3 col-md m-md-5">
                <div class="card-title font-weight-bold text-uppercase">Anglais</div>
                <div class="card-body">
                    <p class="card-text font-weight-bold">Niveau : B1 </p>
                    <p class="card-text">Jours : Lundi </p>
                    <p class="card-text">Horaire : 18h30 </p>
                    <hr>
                    <p class="card-text font-weight-bold">Niveau : B2 </p>
                    <p class="card-text">Jours : Jeudi </p>
                    <p class="card-text">Horaire : 18h30 </p>
                </div>
            </div>
            <div class="card text-center my-3 col-md m-md-5">
                <div class="card-title font-weight-bold text-uppercase">Arabe moderne</div>
                <div class="card-body">
                    <p class="card-text font-weight-bold">Niveau : B1 </p>
                    <p class="card-text">Jours : Lundi </p>
                    <p class="card-text">Horaire : 18h30 </p>
                    <hr>
                    <p class="card-text font-weight-bold">Niveau : B2 </p>
                    <p class="card-text">Jours : Jeudi </p>
                    <p class="card-text">Horaire : 18h30 </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card text-center my-3 col-md m-md-5">
                <div class="card-title font-weight-bold text-uppercase">Allemand</div>
                <div class="card-body">
                    <p class="card-text font-weight-bold">Niveau : A1 </p>
                    <p class="card-text">Jours : Mardi </p>
                    <p class="card-text">Horaire : 20h </p>
                    <hr>
                    <p class="card-text font-weight-bold">Niveau : A2 </p>
                    <p class="card-text">Jours : Mardi </p>
                    <p class="card-text">Horaire : 18h30 </p>
                </div>
            </div>
            <div class="card text-center my-3 col-md m-md-5">
                <div class="card-title font-weight-bold text-uppercase">Berbère kabyle</div>
                <div class="card-body">
                    <p class="card-text font-weight-bold">Niveau : B1 </p>
                    <p class="card-text">Jours : Lundi </p>
                    <p class="card-text">Horaire : 18h30 </p>
                    <hr>
                    <p class="card-text font-weight-bold text-uppercase">Niveau : B2 </p>
                    <p class="card-text">Jours : Jeudi </p>
                    <p class="card-text">Horaire : 18h30 </p>
                </div>
            </div>
            <div class="card text-center my-3 col-md m-md-5">
                <div class="card-title font-weight-bold">Chinois</div>
                <div class="card-body">
                    <p class="card-text font-weight-bold">Niveau : B1 </p>
                    <p class="card-text">Jours : Lundi </p>
                    <p class="card-text">Horaire : 18h30 </p>
                    <hr>
                    <p class="card-text font-weight-bold">Niveau : B2 </p>
                    <p class="card-text">Jours : Jeudi </p>
                    <p class="card-text">Horaire : 18h30 </p>
                </div>
            </div>
        </div>#}
    </div>
</div>
{% endblock %}
