{% extends 'base.html.twig' %}

{% block title %}kotopo - Cours de langues{% endblock %}

{% block body %}



<div >
    <h1>Nos cours de langues hebdomadaires</h1>

    <p class="text-center">Durée des séances : 1h30</p>

    <div class="container d-flex w-100 flex-wrap justify-content-center">
            {% for language in languages %}
                <div>
                <div class="card language-card text-center my-3 col-sm m-sm-3 p-3" >
                    <div class="card-title font-weight-bold">{{ language.name }}</div>
                    <div class="card-body">
                        <p class="card-text">Jours : Mardi </p>
                        <p class="card-text">Horaire : 20h </p>
                    </div>
                </div>
                </div>
            {% endfor %}
    </div>
</div>
{% endblock %}
