{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{%block body%}
    <h1>
        Page d'accueil
    </h1>
    <i class="fa-solid fa-burger"></i>
{% endblock%}
