{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <section class="d-flex">
        <div class="section-header-content">
            <h1>
                Bienvenue au KOTOPO
            </h1>
            <div class="info text-center m-5 p-3">Pour soutenir le KOTOPO, l’appel à dons est toujours d’actualité!
                L’intégralité de votre participation ira à l’association, la plateforme de dons ne prend pas de pourcentage.
                Pour nous soutenir, cliquez ici .
            </div>
            <div class="info text-center m-5 p-3">
                <p>COVID-19 :</p>
                <p>Merci de privilégier les inscriptions par correspondance aux cours de langues et le réglement par virement
                    bancaire Plus d'infos.</p>
                <p>Changements d'horaires :</p>
                <p>En raison de la crise sanitaire et de la situation économique de l'association, des changements temporaires
                    auront lieu les prochaines semaines :</p>
                <p>Du lundi au jeudi : ouverture à 18h</p>
            </div>
        </div>
    </section>

    <section class="text-center m-5 p-3">
        <h2 class="mb-5">KOTOPO est un lieu multiforme</h2>
        <div class="home-page d-flex justify-content-center align-items-center">
            <img src="{{ asset('build/img/bar.jpg') }}" alt="photo du bar">
            <ul>
                <li>Bar - café - petite restauration</li>
                <li>Cours de langues</li>
                <li>Grande salle de rencontre en mézzanine</li>
                <li>Bibliothèque multilingue</li>
                <li>Espace documentation</li>
                <li>Musique d'ailleurs</li>
                <li>Jeux du monde</li>
                <li>Produits du monde</li>
            </ul>
        </div>
    </section>
    <section class="text-center m-5 p-3">
        <h2 class="mb-5">Avec une programmation culturelle internationnale</h2>
        <div class="home-page d-flex justify-content-center align-items-center">
            <ul>
                <li>Rencontres linguistiques du lundi au jeudi</li>
                <li>Concerts les vendredis ou samedis</li>
                <li>Expositions</li>
                <li>Conférences, débats, ateliers, lectures, soirées-contes, cuisine du monde, projections, animations
                    pour enfants...
                </li>
            </ul>
            <img src="{{ asset('build/img/kotopo_librairy.jpg') }}" alt="photo bibliothèque">
        </div>
    </section>
    <section class="text-center m-5 p-3">
        <p>Le KOTOPO est un lieu associatif indépendant géré par Mille et une langues</p>
        <p>C'est une association à but non lucratif, régie par la loi 1901.</p>
        <p>Elle a été fondée à Lyon en 1997 et a créé le KOTOPO en 1999.</p>
        <p>Elle a pour buts : </p>
        <ul>
            <li>de promouvoir la diversité des langues et des cultures du Monde, en favorisant la formation ;</li>
            <li>l'information et les échanges ;</li>
            <li>informer le public sur l'espéranto, langue internationnale.</li>
        </ul>
    </section>
{% endblock %}
