.min-width-6rem {
    min-width: 6rem;
}

.min-width-8rem {
    min-width: 8rem;
}

.min-width-10rem {
    min-width: 10rem;
}

.min-width-12rem {
    min-width: 12rem;
}

.max-width-5rem {
  max-width: 5rem;
}

.text-grey-700 {
  color: #495057 !important;
}
