<div class="text-center footer">
    <p class="font-weight-bold mt-3">CONTACT</p>
    <ul>
        <li class="mb-3 dd">14 rue Leynaud<br>69001 Lyon</li>
        <li class="mb-3">04 72 07 75 49</li>
        <li>info@kotopo.net</li>
        <li><a href="https://www.facebook.com/kotopolyon"><i class="fa-brands fa-facebook"></i> facebook</a></li>
    </ul>
    <p>© 2022 Copyright : Kotopo.fr</p>
    <img src="{{ qrcode }}" />
</div>




