<nav class="navbar navbar-expand-lg navbar-transparent">
    <div class="container d-flex justify-content-between">
        <div class="row flex-nowrap">
            <div class="col-auto m-auto">
                <i class="fa-solid fa-burger"></i>
            </div>
            <div class="col-auto m-auto">
                <a class="text-dark cursor-pointer" href="{{ path('app_home') }}">
                    <span>Le kotopo</span>
                </a>
            </div>
            <div class="col-auto m-auto">
                <a class="text-dark cursor-pointer" href="#">
                    <span>Nos offres</span>
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
                <div class="row flex-nowrap">
                    <div class="col-auto m-auto">
                        <a class="text-dark cursor-pointer" href="#">
                            <span>Programme</span>
                        </a>
                    </div>
                    <div class="col-auto m-auto">
                        <a class="text-dark cursor-pointer" href="#">
                            <span>Contact</span>
                        </a>
                    </div>
                    <div class="col-auto m-auto">
                        <a class="text-dark cursor-pointer" href="{{ path('app_login') }}">
                            <span>Connexion</span>
                        </a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>