<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start z-index-1 ms-4 mt-8 bd-navbar bg-transparent">

    <div class="w-auto h-auto h-100 text-center m-3">
        <p class="font-weight-bold my-3"><u>À venir :</u></p>
        <div>
            <p>Aujourd'hui :</p>
            {% if listEvent.todayEvent is empty %}
                <p>Aucun événement</p>
            {% else %}
                {% for event in listEvent.todayEvent %}
                    <p>- {{ event.title }}</p>
                {% endfor %}
            {% endif %}
            <p>Demain :</p>
            {% if listEvent.tomorrowEvent is empty %}
                <p>Aucun événement</p>
            {% else %}
                {% for event in listEvent.tomorrowEvent %}
                    <p>- {{ event.title }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            <p class="font-weight-bold my-3"><u>Horaires d'ouverture</u></p>
            <p>du lun au jeu</p>
            <p>18h</p>
            <p>ven et sam</p>
            <p>18h</p>
            <p class="font-weight-bold my-3">Les ateliers calligraphie débutent à 17h30</p>
        </div>

    </div>
</aside>
