<div class="sidebar text-center m-3">
{#    to uncomment when impmlement calendar #}
{#<div class="calendar">
    <div class="calendar_header mb-5">
        <div class="d-flex justify-content-around">
            <p><</p>
            <p class="font-weight-bold">Juillet</p>
            <p>></p>
        </div>
        <div class="d-flex justify-content-between">
            <p>L</p>
            <p>M</p>
            <p>M</p>
            <p>J</p>
            <p>V</p>
            <p>S</p>
            <p>D</p>
        </div>
    </div>
</div>#}
<p class="font-weight-bold my-3"><u>À venir :</u></p>
<p>Ce soir : -mon évènement-</p>
<p>Demain : -mon évènement-</p>
<div>
    <p class="font-weight-bold my-3"><u>Horaires d'ouverture</u></p>
    <p>du lun au jeu</p>
    <p>18h</p>
    <p>ven et sam</p>
    <p>18h</p>
    <p class="font-weight-bold my-3">Les atteliers caligraphie débutent à 17h30</p>
</div>
</div>