<p class="font-weight-bold">Juillet</p>
<div>datepicker</div>
<p class="font-weight-bold">À venir : </p>
<p>Ce soir : -mon évènement-</p>
<p>Demain : -mon évènement-</p>
<div>
    <p class="font-weight-bold" >Horaires d'ouverture</p>
    <p>du lun au jeu</p>
    <p>18h</p>
    <p>ven et sam</p>
    <p>18h</p>
    <p class="font-weight-bold">Les atteliers caligraphie débutent à 17h30</p>
</div>